.container{
  background-color: orange;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container div{
  width: 33%;
  padding: 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}