.container{
  background-color: #004f9f;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  color: white;
  font-weight: bold;
  font-size: 1.5em;
}

.container div{
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login, .title {
  transition: .2s;
  cursor: pointer;
}

.login:hover, .title:hover {
  color:#a5cef7
}