.container{
  background-color: orange;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}

.container div{
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
}