/* day.module.css */
* {
  transition: .2s
}
.container {
	display: flex;
	align-items: center; /* Align items to the left */
	padding: 20px 0px;
	box-sizing: border-box;
}

.title {
  font-size: 2em;
  font-weight: bold;
  color: white;
  flex-shrink: 0;
  margin-right: 10px;
}

.markers {
	margin-bottom: 20px;
	font-size: 1.5em;
	text-align: left; /* Align text to the left */
}

.route__box {
	display: flex;
	/* flex-direction: row; */
	align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
	width: 100%;
  max-width: 800px;
  overflow-x: auto;
  overflow-y: hidden;
	height: 50px;  /* Set a fixed height */
	min-height: 50px;/* Scroll horizontally if content overflows */
  flex-shrink: 0;
}

.route {
  flex-shrink: 0;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.route__btn {
	margin: 0 10px;
  background-color: #222222;
  padding: 0 10px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
	cursor: pointer;
  font-weight: bold;
  color:#555555;
  flex-shrink: 0;
}

.route__focus {
  background-color: #555555;
  color: #ffffff;
}
.next {
  color:white;
	margin: 0 5px;
  font-weight: bold;
  font-size: 20px;
  flex-shrink: 0;
}

